<div class="flex justify-between items-center space-x-2">
  <%= link_to 'Avo HQ', 'https://avohq.io', class: 'text-blue-600 font-semibold', target: :_blank %>
  <span>·</span>
  <%= link_to 'Source code', 'https://github.com/avo-hq/kanban.avodemo.com', class: 'text-blue-600 font-semibold', target: :_blank %>
  <span>·</span>
  <%= link_to 'Avo Documentation', 'https://docs.avohq.io', class: 'text-blue-600 font-semibold', target: :_blank %>
</div>
